{{define "main"}} {{ partial "nav.html" . }} {{ partial "header2" . }}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-12 col-lg-8 mb-5 card">
      <article>
        <div class="">
          <div class="card-body p-md-5">
            <div class="post-header mb-5">
              <div class="mb-3">
                <img
                  src="/img/lazy.webp"
                  data-src="{{ .Site.Author.image }}"
                  class="rounded-circle lazy"
                  width="32px"
                  height="32px"
                />
                Team Kalender
              </div>
              <div></div>
              {{ if .Params.image }}<img
                class="img-fluid lazy"
                src="/img/lazy.webp"
                data-src="{{ .Params.image }}"
                alt="{{ .Title }}"
              />{{end}}
            </div>
            <div class="post-content">
              <div class="well">Daftar Isi: {{ .TableOfContents }}</div>
              {{ .Content }}
            </div>
            <div class="post-footer"></div>
          </div>
        </div>
      </article>
    </div>
    <div class="col-sm-12 col-lg-4">{{ partial "aside.html" . }}</div>
  </div>
</div>
{{end}}
