<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>

        {{ partial "nav.html" . }}
        {{ partial "header" . }}

        <div class="container mt-5 mb-5">
            <div class="row">

                <div class="col-sm-12 col-lg-12 mb-5 card">
                    <article>
                        <div class="">
                           <div class="card-body p-md-5">
                                <div class="post-content">
                                    {{ .Content }}
                                </div>
                                <div class="post-footer">
                                </div>
                            </div>
                        </div>
                    </article>
                    </div>
            </div>
        </div>

        {{ partial "footer.html" . }}
        {{ partial "js-init.html" . }}
    </body>
</html>