{{ if isset .Site.Taxonomies "categories" }} {{ if not (eq (len
.Site.Taxonomies.categories) 0) }}
<div class="card card-block mb-3">
  <div class="card-text">
    <div class="card-body">
      <h4 class="card-title">Kategori</h4>
    </div>
    <div class="widget">
      <ul style="list-style: none">
        {{ range $name, $items := .Site.Taxonomies.categories }}
        <li class="category-list-item text-capitalize">
          <a
            href='{{ (print "categories/" ($name | urlize | lower) "/") | relURL }}'
            class="btn btn-dark my-1 btn-sm"
          >
            <b>{{ $name }}</b>
            <span class="badge text-dark bg-warning">{{ len $items }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }} {{ end }}
