<div class="mb-3 text-right">
    <form class="form-inline" action="https://www.google.co.id" id="cse-search-box">
    <input type="hidden" name="cx" value="015298665512432213965:gvyz-z8ivhk" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="hidden" name="sa" value="search" />
    <input class="form-control mr-md-5" type="text" name="q" placeholder="Masukan kata kunci pencarian" aria-label="Search">
    <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-dark btn-block mr-0 my-sm-3" type="submit">Cari</button>
    </div>
</form>
</div>