
<form
name="Kontak-Sirnarasa"
class="form-horizontal my-5"
action="/thank-you"
method="post"
netlify
>
  <div class="mb-3">
    <label for="name" class="form-label">Nama</label>
    <input type="text" class="form-control" id="name" placeholder="Masukkan Nama Anda">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Masukkan Email Anda">
  </div>
  
  <div class="mb-3">
    <label for="phone" class="form-label">Nomor HP</label>
    <input type="tel" class="form-control" id="phone" placeholder="Masukkan Nomor HP Anda">
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Pesan</label>
    <textarea class="form-control" id="message" rows="5" placeholder="Masukkan pesan Anda"></textarea>
  </div>
  
  <button
  type="submit"
  class="g-recaptcha btn btn-primary"
  data-sitekey="6LcN4SwUAAAAAFu_YEQtP1Vk5_K36tzJUipuoqL6"
  data-callback="thank-you"
>
  Kirim
</button>
</form>
