<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="{{ .Permalink }}" />

    <title>{{.Params.pageTitle | default .Title}} | {{.Site.Title}}</title>
    <meta name="description" content="{{ .Description }}" />

    {{ template "_internal/schema.html" . }} {{ template
    "_internal/opengraph.html" . }} {{ template "_internal/twitter_cards.html" .
    }}

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "CollegeOrUniversity",
        "name": "Pesantren Sirnarasa",
        "alternateName": "Yayasan Pesantren Sirnarasa",
        "url": "https://www.sirnarasa.org",
        "logo": "https://www.sirnarasa.org/apple-touch-icon.png",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+622652796956",
          "contactType": "customer service",
          "contactOption": "TollFree",
          "areaServed": "ID",
          "availableLanguage": "Indonesian"
        },
        "sameAs": "https://fb.com/pesantrensirnarasa"
      }
    </script>

    <!-- Icon -->
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
      {{- partial "sirnarasa.min.css" . | safeCSS -}}
    </style>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v20.0" nonce="3S48k8CP"></script>
  </head>
  <body class="pb-5">
    {{- block "main" . }} {{- end }} {{ partial "footer" . }} {{ partial
    "js-init" . }}
  </body>
</html>
