{{define "main"}}

{{ partial "nav2" .}}

<div class="container mt-5 mb-5">
    <div class="row">

        <div class="col-sm-12 col-lg-8 mb-5 card">
            <article>
                <div class="">
                    <div class="card-body p-md-5">

                        <div class="post-header mb-5">

                            <h1 class="card-title mb-5">{{ .Title }}</h1>
                            <div class="mb-3">
                                <img data-src="{{ .Site.Author.image }}" class="rounded-circle lazy" width="32px" height="32px">
                                <a class="align-middle text-dark" href="{{ .Site.Author.homepage }}">{{.Site.Author.name }}</a> <small class="align-middle text-muted"> - <time>{{.Date.Format "Jan, 02-01-2006" }} <br> Membaca dalam <strong>{{ .ReadingTime }}</strong>
                                        menit </time></small>
                            </div>
                            <div>
                                {{ range .Params.tags }}
                                <span class="badge badge-success mb-3">
                                    #<a class="text-white" href="/tags/{{ . | urlize }}">{{ . }}</a>
                                </span>
                                {{ end }}
                            </div>
                            {{ if .Params.image }}<img class="img-fluid" src="{{ .Params.image }}" alt="{{ .Title }}">{{end}}
                        </div>
                        <div class="post-content">
                            {{ .Content }}
                        </div>
                        <div class="post-footer">
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-sm-12 col-lg-4">
            {{ partial "aside.html" . }}
        </div>
    </div>
</div>
{{end}}