.bg-sirnarasa {
    background: #FFDD00;
}


.post-content  {
    font-family: Merriweather, Georgia, Sans-serif;
}

.post-content h2, 
.post-content h3, 
.post-content h4, 
.post-content h5,
.post-content h6 {
    font-family: Roboto, Sans;
    margin: 1em 0;
}  

.post-content img {
    max-width: 100%;
}
.zhadow{box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)}
.card,navbar{box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)}