<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
  <div class="container">
    <a
      class="navbar-brand d-flex align-items-center text-decoration-none"
      href="{{ .Site.BaseURL }}"
      ><img
        src="/apple-touch-icon-57x57.png"
        width="45"
        height="45"
        class="d-inline-block align-top rounded-circle me-2"
        alt="Pesantren Sirnarasa"
      /> 
      <span class="fw-bold">Sirnarasa</span></a
    >
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    {{ $currentPage := . }}
    <ul class="navbar-nav col-lg-6 justify-content-lg-center me-auto">
      {{ range .Site.Menus.main }} {{ if .HasChildren }}

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="{{.URL}}"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{.Name}}
        </a>
        <ul class="dropdown-menu">
          {{ range .Children }}
          <li><a class="dropdown-item" href="{{.URL}}">{{.Name}}</a></li>
          {{end}}
        </ul>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="{{.URL}}" class="nav-link" aria-current="page"
          >{{ .Pre }} <span>{{ .Name }}</span></a
        >
      </li>
      {{end}} {{end}}
    </ul>
  
  <form class="d-flex modern-search" action="https://www.google.co.id" id="cse-search-box">
    <input type="hidden" name="cx" value="015298665512432213965:gvyz-z8ivhk" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="hidden" name="sa" value="search" />
    <input class="form-control me-2" type="text" name="q" placeholder="Pencarian..." aria-label="Search">
    <button class="btn btn-primary" type="submit">Cari</button>
</form>
  </div>

  </div>
</nav>
