<article class="card-post py-4">
  <div class="container">
    <div class="row">
      {{ range first 6 (where .Site.Pages "Type" "post") }}
      <div class="col-md-4 mb-4 d-flex">
        <div class="card">
          <a href="{{ .Permalink }}">
            {{if eq .Params.image nil }}
            <img class="img-fluid card-img-top lazy" width="350" height="350" src="/img/lazy.webp"
              data-src="{{ if eq .Params.image nil }}/img/lazy.webp{{else}}{{ .Params.image }}{{end}}"
              alt="{{ .Title }}" />
            {{else}}
            {{ if strings.HasPrefix .Params.image "http" }}
            <img class="card-img-top img-fluid lazy" height="263" width="350"
              src="/img/lazy.webp"
              data-src="{{ .Params.image }}" alt="{{ .Title }}" />
            {{ else }}
            {{ $image := resources.Get .Params.image }}
            <img class="card-img-top img-fluid lazy" height="263" width="350"
              src='{{ ( $image.Resize "50x webp" ).RelPermalink }}'
              data-src='{{ ($image.Resize "x350 webp" ).RelPermalink }}' alt="{{.Title}}" />
            {{ end }}
            {{ end }}
          </a>
          <div class="card-body">
            <p class="card-title">
              <a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</article>